<!-- Guutaa Hassen 300898794  Assignment 1 Comp 229-->

<%- include("partials/header.ejs")%>

<h1>About Me</h1>
<img class="profile" src="images/me.jpeg" alt="linkedIn  profile">
<p>
  I'm Guutaa Hassen  a multifaceted individual with a zest for life and a diverse range of interests. Cats hold a special place in my heart; I find solace in their playful antics and
  endearing personalities. Video games have been my virtual playground, offering a thrilling escape into fantastical worlds and fueling my passion for immersive storytelling.
 When I'm not gaming, you'll often find me exploring the great outdoors through hiking. The serenity of nature, fresh mountain air, and breathtaking landscapes captivate me. 
  Professionally, I'm a software developer who thrives on coding challenges and strives to craft digital solutions that simplify and enhance our lives.
   Life, for me, is about embracing growth and change, constantly pushing boundaries, and making meaningful connections along the way. Join me on this adventure, 
  where we'll celebrate the joy of cats, embark on epic gaming quests, conquer hiking trails, and explore the ever-evolving world of software development. Together, we'll learn, innovate, and make lasting memories.</p>

  <%- include("partials/footer.ejs") %>