<%- include("partials/header.ejs") %>

<h1>My Portfolio</h1>
<p>Highly motivated and skilled software engineer seeking a challenging position in a dynamic and innovative company, where I can contribute my technical expertise and problem-solving abilities to develop cutting-edge software solutions. Committed to continuous learning and growth, I aim to collaborate with a talented team to deliver high-quality products that positively impact end-users and drive the advancement of technology.</p>

<p>Below is a link to my Github which demonstrates skills I have aquired and am developing at this moment and time.</p>

<p>My highlights are a Simon replica game i made using the DOM in the browser. I suggest start there but be carefull the game is addicting</p>

<p>A link to my Github<a href="https://github.com/GuutaaH?tab=repositories"> https://github.com/GuutaaH?tab=repositories</a></p>

<%- include("partials/footer.ejs") %>
